<%- include('./../partials/header') -%>
    <main>
        <section class="hero-Sec">
            <h1>Update Books</h1>
        </section>
        <div class="form">
            <!-- creare a form with title, summary, pages, publication and a submit button -->
            <form action="/books/" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" class="form-control" id="title" name="title" placeholder="Enter title">
                </div>
                <div class="form-group">
                    <label for="summary">Summary</label>
                    <textarea class="form-control" id="summary" name="summary" rows="3"></textarea>
                </div>
                <div class="form-group">
                    <label for="pages">Pages</label>
                    <input type="number" class="form-control" id="pages" name="pages" placeholder="Enter pages">
                </div>
                <div class="form-group">
                    <label for="publication">Publication</label>
                    <input type="text" class="form-control" id="publication" name="publication"
                        placeholder="Enter publication">
                </div>
                <div class="form-group">
                    <button type="submit" class="btn" style="width: 100%;">Submit</button>
                </div>
            </form>
        </div>

    </main>
    <%- include('./../partials/footer') -%>
