<%- include('./../partials/header') -%>
    <main>
        <section class="hero-Sec">
            <h1>Welcome to book Store</h1>

        </section>
    </main>
    <%- include('./../partials/footer') -%>
