<%- include('partials/header') -%>
  <main>
    <section class="hero-Sec">
      <h1>Welcome to book Store</h1>
      <a href="/books" class="btn m-top-20">Go to Books</a>
    </section>
  </main>
  <%- include('partials/footer') -%>
